# This is the main requirements file.
# It lists all of the dependencies that are required for the package to run.

python-jose[cryptography]
python-multipart
lightgbm==3.3.1
matplotlib
numpy
pandas
scikit-learn
passlib
pydantic
joblib
pyarrow
fastapi

# This is an extras file for documentation dependencies.
# It lists the dependencies that are only required for building documentation.

[doc]
ipykernel
ipython_genutils
pandoc
sphinx>=7.0.0
sphinxawesome-theme>=4.1.0
nbsphinx>=0.9.2
sphinx-autodoc-typehints>=1.21.0
sphinx-copybutton>=0.5.2
sphinx-tabs>=3.4.1

# This is an extras file for linting dependencies.
# It lists the dependencies that are only required for linting the code.

[lint]
black
flake8

# This is an extras file for testing dependencies.
# It lists the dependencies that are only required for testing the code.

[test]
python-multipart>=0.0.6
pytest
pytest-cov
httpx
coverage
pytest-cov
